In [ ]:
import numpy as np
import pandas as pd
import math
from sklearn.tree import plot_tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score , mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_validate

In [ ]:
train = pd.read_csv("/content/sample_data/california_housing_train.csv", header=None)
test = pd.read_csv("/content/sample_data/california_housing_test.csv", header=None)

In [ ]:
train.head()

,0,1,2,3,4,5,6,7,8
0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-114.310000,34.190000,15.000000,5612.000000,1283.000000,1015.000000,472.000000,1.493600,66900.000000
2,-114.470000,34.400000,19.000000,7650.000000,1901.000000,1129.000000,463.000000,1.820000,80100.000000
3,-114.560000,33.690000,17.000000,720.000000,174.000000,333.000000,117.000000,1.650900,85700.000000
4,-114.570000,33.640000,14.000000,1501.000000,337.000000,515.000000,226.000000,3.191700,73400.000000

In [ ]:
# Se entrena desde la columna 1 para adelante
X = train.iloc[:,1:].to_numpy()
# se quiere predecir solo la columno 0
y = train.iloc[:,0].to_numpy()

In [ ]:
# Se entrena desde la columna 1 para adelante
X_hat = test.iloc[:,1:].to_numpy()
# se quiere predecir solo la columno 0
y_hat = test.iloc[:,0].to_numpy()

In [ ]:
X

array([['latitude', 'housing_median_age', 'total_rooms', ...,
        'households', 'median_income', 'median_house_value'],
       ['34.190000', '15.000000', '5612.000000', ..., '472.000000',
        '1.493600', '66900.000000'],
       ['34.400000', '19.000000', '7650.000000', ..., '463.000000',
        '1.820000', '80100.000000'],
       ...,
       ['41.840000', '17.000000', '2677.000000', ..., '456.000000',
        '3.031300', '103600.000000'],
       ['41.800000', '19.000000', '2672.000000', ..., '478.000000',
        '1.979700', '85800.000000'],
       ['40.540000', '52.000000', '1820.000000', ..., '270.000000',
        '3.014700', '94600.000000']], dtype=object)

In [ ]:
num_rows, num_columns = data.shape
print("Número de filas:", num_rows)
print("Número de columnas:", num_columns)

Número de filas: 17000
Número de columnas: 9

In [ ]:
y[1]

'-114.310000'

In [ ]:
print("acc train: {} + +- {}"\
      .format(100*res["train_score"].mean(),
              100*res["train_score"].std()))
print("acc val: {} + +- {}"\
      .format(100*res["test_score"].mean(),
              100*res["test_score"].std()))

acc train: nan + +- nan
acc val: nan + +- nan

In [ ]:
print("acc train: {} + +- {}"\
      .format(100*res["train_score"].mean(),
              100*res["train_score"].std()))
print("acc val: {} + +- {}"\
      .format(100*res["test_score"].mean(),
              100*res["test_score"].std()))

acc train: nan + +- nan
acc val: nan + +- nan

In [ ]:
# Entrenar a la máquina
model = DecisionTreeClassifier(max_depth=10)

In [ ]:
# Crear y entrenar el modelo
model = DecisionTreeClassifier()

In [ ]:
print(train.info)

<bound method DataFrame.info of                  0          1                   2            3  \
0        longitude   latitude  housing_median_age  total_rooms
1      -114.310000  34.190000           15.000000  5612.000000
2      -114.470000  34.400000           19.000000  7650.000000
3      -114.560000  33.690000           17.000000   720.000000
4      -114.570000  33.640000           14.000000  1501.000000
...            ...        ...                 ...          ...
16996  -124.260000  40.580000           52.000000  2217.000000
16997  -124.270000  40.690000           36.000000  2349.000000
16998  -124.300000  41.840000           17.000000  2677.000000
16999  -124.300000  41.800000           19.000000  2672.000000
17000  -124.350000  40.540000           52.000000  1820.000000

                    4            5           6              7  \
0      total_bedrooms   population  households  median_income
1         1283.000000  1015.000000  472.000000       1.493600
2         1901.000000  1129.000000  463.000000       1.820000
3          174.000000   333.000000  117.000000       1.650900
4          337.000000   515.000000  226.000000       3.191700
...               ...          ...         ...            ...
16996      394.000000   907.000000  369.000000       2.357100
16997      528.000000  1194.000000  465.000000       2.517900
16998      531.000000  1244.000000  456.000000       3.031300
16999      552.000000  1298.000000  478.000000       1.979700
17000      300.000000   806.000000  270.000000       3.014700

                        8
0      median_house_value
1            66900.000000
2            80100.000000
3            85700.000000
4            73400.000000
...                   ...
16996       111400.000000
16997        79000.000000
16998       103600.000000
16999        85800.000000
17000        94600.000000

[17001 rows x 9 columns]>

In [ ]:
X_train = train.iloc[:, :-1]
y_train = train.iloc[:, -1]
X_test = test.iloc[:, :-1]
y_test = test.iloc[:, -1]